#Task 1: Creating Variables

-->TASK 1a: Create a variable 'rollno' and assign an int value to it.Print value,id and data type of 'rollno'

In [5]:
rollno = 1 #creating and assigning a value
print(rollno) #printing the value
print(id(rollno)) #printing id of the variable
print(type(rollno)) #printing data type of variable

1
140724082742056
<class 'int'>

-->TASK 1b: Create a variable 'firstname' and assign a string value to it.Print value,id and data type of 'firstname'

In [6]:
firstname='Avni' #creating and assigning a value
print(firstname) #printing the value
print(id(firstname)) #printing id of the variable
print(type(firstname)) #printing data type of variable

Avni
1430502057392
<class 'str'>

-->TASK 1c: Create a variable 'lastname' and assign a string value to it.Print value,id and data type of 'lastname'

In [8]:
lastname='Sanghvi' #creating and assigning a value
print(lastname) #printing the value
print(id(lastname)) #printing id of the variable
print(type(lastname)) #printing data type of variable

Sanghvi
1430502084080
<class 'str'>

-->TASK 1d: Create a variable 'maxmarks' and assign value of '50' to it.Print value,id and data type of 'maxmarks'

In [9]:
maxmarks=50 #creating and assigning a value
print(maxmarks) #printing the value
print(id(maxmarks)) #printing id of the variable
print(type(maxmarks)) #printing data type of variable

50
140724082743624
<class 'int'>

#Task 2: Naming a Variable

-->TASK 2a: Explain observation for 'var1=2'

In [12]:
var1 = 2
#Naming convention for this variable is correct as: 
# 1. it is starting with a letter
# 2. is alpha-numeric
# 3. not a keyword
# 4. is not starting with a number
# 5. no space in between the variable name

-->TASK 2b: Explain observation for '2var=2'

In [13]:
2var = 2
#naming convention for this variable is incorrect as:
# 1. it is starting with a number

SyntaxError: invalid decimal literal (2593071960.py, line 1)

-->TASK 2c: Explain observation for 'var 1 = 2'

In [14]:
var 1 = 2
#naming convention for this variable is incorrect as:
# 1. is having space in between the variable name

SyntaxError: invalid syntax (1069141224.py, line 1)

-->TASK 2d: Explain observation for 'var$2 = 2'

In [15]:
var$2 = 2
#naming convention for this variable is incorrect as:
# 1. is having a special character in its name

SyntaxError: invalid syntax (2085239645.py, line 1)

#Task 3: Assigning Values to a Variable

-->TASK 3a: Explain observation for 'Class = 15'

In [16]:
Class = 15
#Naming convention for this variable is correct as: 
# 1. it is starting with a letter
# 2. not a keyword
# 3. not having any special character
# 4. is not starting with a number
# 5. no space in between the variable name

-->TASK 3b: Explain observation for 'class = 14'

In [17]:
class = 14
#naming convention for this variable is incorrect as:
# 1. is using a keyword for variable name

SyntaxError: invalid syntax (1242795455.py, line 1)

-->TASK 3c: Explain observation for 'DEF = 13'

In [18]:
DEF = 13
#Naming convention for this variable is correct as: 
# 1. it is starting with a letter
# 2. not a keyword
# 3. not having any special character
# 4. is not starting with a number
# 5. no space in between the variable name

-->TASK 3d: Explain observation for 'def = 12'

In [19]:
def = 12
#naming convention for this variable is incorrect as:
# 1. is using a keyword for variable name

SyntaxError: invalid syntax (1759817278.py, line 1)

-->TASK 3e: Explain observation for 'a = TRUE'

In [22]:
a = TRUE
#if "TRUE" is used as a boolean value, then it must be written as "True" i.e., not all in caps.
#if "TRUE" is used as string value, then it enclosed within single/double quotes

NameError: name 'TRUE' is not defined

-->TASK 3f: Explain observation for 'b = false'

In [23]:
b = false
#if "false" is used as a boolean value, then it must be written as "False" i.e., not all in caps.
#if "false" is used as string value, then it enclosed within single/double quotes

NameError: name 'false' is not defined

#Task 4: Using id()

-->TASK 4a:Create variable named 'marks' and assign a float value between 0 and 100.Print value,id and data type of 'marks'

In [25]:
marks = 87.8 #Creating a value and assigning a float value to it
print(marks)
print(id(marks))
print(type(marks))

87.8
1430501981232
<class 'float'>

-->TASK 4b:Change the value of 'marks' to any other float value between 0 and 100.Print value,id and data type of 'marks'

In [26]:
marks = 84.3 #Creating the value to a different float value
print(marks)
print(id(marks))
print(type(marks))

84.3
1430515127888
<class 'float'>

-->TASK 4c:Is value of 'id' for 'marks' variable same or different. Give justification

The value of 'id' in last two executions is different. This comes out different because the 'id' of a varible depends on the value which it holds. Once the value changes, the 'id' will also change.

#Task 5: Formatting the output

-->TASK 5a: Define variable 'maxmarks' and assign 100 to it. Divide 'marks' by 'maxmarks'. Print the o/p as percentage.

In [33]:
maxmarks = 100
print(str((marks/maxmarks)*100) + "%")

84.3%

-->TASK 5b: Print value of variable 'fullname' by joining 'firstname' and 'lastname'.

In [35]:
fullname = firstname + " " + lastname
print(fullname)

Avni Sanghvi

-->TASK 5c: Print value of variable 'fullname' followed by word 'scored' and the value of 'marks'.

In [40]:
print(fullname+" scored "+str(marks)+"%")

Avni Sanghvi scored 84.3%

#TASK 6: Creating Data Structures

-->TASK 6a:Use 'rollno' & 'fullname' to create a dictionary

In [43]:
dict1 = {rollno:fullname} #'rollno' is key and 'fullname' is value

-->TASK 6b:Use 'rollno','fullname' & 'marks' to create a list

In [47]:
list1 = [rollno,fullname,marks]

#TASK 7: Arithmetic Operations

-->TASK 7a: Explain observation for: 1 + "2"

In [50]:
1 + "2"
#Here, 1 is of integer type and 2 is of string type and + is doing concatination, which works on strings only. 
#Hence, those two can't be concatinated.

TypeError: unsupported operand type(s) for +: 'int' and 'str'

-->TASK 7b: Explain observation for: "1" + "2"

In [51]:
"1" + "2"
#Here, both 1 and 2 are string type which are being concatinated by +.
#Hence, output as 12

'12'

-->TASK 7c: Explain observation for: 1/2

In [52]:
1/2
#The '/' operator is dividing 1 by 2.Hence, giving the quotient as output.

0.5

-->TASK 7d: Explain observation for: 1//2

In [54]:
1//2
#The '//' operator performs floor division and will remove decimal part from the result and present the output.

0

#TASK 8: Logical Operation

-->TASK 8a: Explain output for: True and True

In [55]:
True and True
#'and' operator returns true when both the operands are true otherwise returns false.

True

-->TASK 8b: Explain output for: True and False

In [56]:
True and False
#'and' operator returns true when both the operands are true otherwise returns false.

False

-->TASK 8c: Explain output for: False or True

In [57]:
False or True
#'or' operator returns true when either one of the operands is true otherwise returns false.

True

-->TASK 8d: Explain output for: False or False

In [58]:
False or False
#'or' operator returns true when either one of the operands is true otherwise returns false.

False

#TASK 9: Identity and Membership Operations

-->TASK 9a: Compare 'firstname' and 'fullname' using 'in' operator.Print and explain the output

In [60]:
i = firstname in fullname
print(i)
#'in' operator looks for operand in sequence. If found returns true otherwise false.
#Here, 'in' looks for firstname(Avni) in fullname(Avni Sanghvi). Since, it was there, it returned True.

True

-->TASK 9b: Compare 'firstname' and 'fullname' using 'is' operator.Print and explain the output

In [61]:
j = firstname is fullname
print(j)
#'is' operator matches the operand with the sequence. If it matches completely, it will return True and otherwise False.
#Here, firstname(Avni) does not completely match fullname(Avni Sanghvi). Hence, returning False

False

#TASK 10: Associativity
Given that a=4,b=3,c=2, d=a ** b + c and e=a**(b+c)

-->TASK 10a: Print the value of d.

In [62]:
a = 4
b = 3
c = 2
d = a**b+c
print(d)

66

-->TASK 10b: Print the value of e.

In [63]:
e = a**(b+c)
print(e)

1024

-->TASK 10c: Explain why the values of d and e same or different.

The values of 'd' and 'e' differ because of the precedence order of operators which is being followed.
As per precedence order, the order is: Parenthesis>Exponent>Addition.
In Task 10a, first exponent is performed and then addition ie., 4 ** 3 + 2= 64 + 2 = 66
In Task 10b, first parenthesis is performed and then exponent i.e., 4 ** (3 + 2)= 4 ** 5=1024