In [1]:
data= ["Mark Antony","John Chan","Bret Lee","Jim Nick","Janice Ken","Florida Thomson","Lily Jason","Matt Antony","Mark Thomas",
      "Kenny Peterson","Joe Cook","Alexander Thomas","Katy Perry","Alexanderia Peterson","Mark Antony"]

**TASK 1: Adding 5 more students in the list**

In [2]:
for i in range(1,6):
    item = input("Enter the name to be added ")
    data.append(item)

print("The final list becomes",data)

Enter the name to be added Avni Sanghvi
Enter the name to be added Siddharth Singh
Enter the name to be added Smith Vora
Enter the name to be added Puja Agrawal
Enter the name to be added Viaan Shah
The final list becomes ['Mark Antony', 'John Chan', 'Bret Lee', 'Jim Nick', 'Janice Ken', 'Florida Thomson', 'Lily Jason', 'Matt Antony', 'Mark Thomas', 'Kenny Peterson', 'Joe Cook', 'Alexander Thomas', 'Katy Perry', 'Alexanderia Peterson', 'Mark Antony', 'Avni Sanghvi', 'Siddharth Singh', 'Smith Vora', 'Puja Agrawal', 'Viaan Shah']

**TASK 2: Names which were added later on**

In [3]:
r_list = list(reversed(data))
print("List of students in reverse order is: ",r_list)

List of students in reverse order is:  ['Viaan Shah', 'Puja Agrawal', 'Smith Vora', 'Siddharth Singh', 'Avni Sanghvi', 'Mark Antony', 'Alexanderia Peterson', 'Katy Perry', 'Alexander Thomas', 'Joe Cook', 'Kenny Peterson', 'Mark Thomas', 'Matt Antony', 'Lily Jason', 'Florida Thomson', 'Janice Ken', 'Jim Nick', 'Bret Lee', 'John Chan', 'Mark Antony']

**TASK 3: Performing task 2 without using in-built function**

In [8]:
l = len(data)

print("Names which were added afterwards: ")

for i in range(1,l+1):
        print(data[-i])

Names which were added afterwards:
Viaan Shah
Puja Agrawal
Smith Vora
Siddharth Singh
Avni Sanghvi
Mark Antony
Alexanderia Peterson
Katy Perry
Alexander Thomas
Joe Cook
Kenny Peterson
Mark Thomas
Matt Antony
Lily Jason
Florida Thomson
Janice Ken
Jim Nick
Bret Lee
John Chan
Mark Antony

**TASK 4: Check for duplicate names in list. Create a new list without the duplicate items**

In [27]:
count = {}

#counting the frequency of each names in 'data' list and saving it in a dictionary 'count' 
#with names as its key and frequency as value 
for name in data:
    if name in count.keys():
        count[name] = count[name] + 1
    else:
        count[name] = 1

#checking for items having more than 1 count to get the duplicate entry
for item in count.keys():
    if count[item]>1:
        print(item,"is more than once")
        
final_list = [] #creating a list to store un-repeated values

for i in data:
    if i not in final_list:
        final_list.append(i)

print("Final List is: ",final_list)

Mark Antony is more than once
Final List is:  ['Mark Antony', 'John Chan', 'Bret Lee', 'Jim Nick', 'Janice Ken', 'Florida Thomson', 'Lily Jason', 'Matt Antony', 'Mark Thomas', 'Kenny Peterson', 'Joe Cook', 'Alexander Thomas', 'Katy Perry', 'Alexanderia Peterson', 'Avni Sanghvi', 'Siddharth Singh', 'Smith Vora', 'Puja Agrawal', 'Viaan Shah']

**TASK 5: Display 'final_list' in alphabetical order**

In [29]:
print("The list of students in aplhabetical order: ")
final_list.sort() #sorting the list to get alphabetical order
print(final_list)

The list of students in aplhabetical order:
['Alexander Thomas', 'Alexanderia Peterson', 'Avni Sanghvi', 'Bret Lee', 'Florida Thomson', 'Janice Ken', 'Jim Nick', 'Joe Cook', 'John Chan', 'Katy Perry', 'Kenny Peterson', 'Lily Jason', 'Mark Antony', 'Mark Thomas', 'Matt Antony', 'Puja Agrawal', 'Siddharth Singh', 'Smith Vora', 'Viaan Shah']

**TASK 6: Display the names of selected students for spelling bee competition**

In [33]:
#The previous task sorted the 'final_list'. Hence, using it for this task

selection = []
l = len(final_list)

selection.append(final_list[1]) #Adding 2nd name of final_list
selection.append(final_list[11])#Adding 12th name of final_list
selection.append(final_list[l-1])#Adding last name of final_list

print("List of those who got selected: ",selection)

List of those who got selected:  ['Alexanderia Peterson', 'Lily Jason', 'Viaan Shah']

**TASK 7: Count no. of integers between 555 and 678(both excluding) which are divisible by 7**

In [15]:
c = 0

for i in range(556,678):
    if i%7==0:
        c = c + 1
        
print(c,"integers are divisible by 7 between 555 and 678")

17 integers are divisible by 7 between 555 and 678

**TASK 8: Prints natural number till 30, skipping the numbers which are multiples of number given by user as input**

In [10]:
n = int(input("Enter a number: "))

print("Numbers between 1 to",n,"which are not nultiples of",n,"are: ")
for i in range(1,31):
    if i%n!=0:
        print(i,end=" ")

Enter a number: 3
Numbers between 1 to 3 which are not nultiples of 3 are:
1 2 4 5 7 8 10 11 13 14 16 17 19 20 22 23 25 26 28 29

**TASK 9: Sum of consecutive elements from two different lists**

In [20]:
firstlist = [1,21,3,4,5,6,7,18,4]
secondlist = [19,1,17,6,15,14,13,2,11]
thirdlist = []

l = len(firstlist)

for i in range(0,l):
    a = firstlist[i] + secondlist[i]
    thirdlist.append(a)

print("The required list is: ",thirdlist)

The required list is:  [20, 22, 20, 10, 20, 20, 20, 20, 15]